In [1]:
import pandas as pd

In [2]:
weather01 = pd.read_csv('IndianWeatherRepository 1.csv')
weather01.head()

,country,location_name,region,latitude,longitude,timezone,last_updated_epoch,last_updated,temperature_celsius,temperature_fahrenheit,...,air_quality_PM2.5,air_quality_PM10,air_quality_us-epa-index,air_quality_gb-defra-index,sunrise,sunset,moonrise,moonset,moon_phase,moon_illumination
0,India,Ashoknagar,Madhya Pradesh,24.57,77.72,Asia/Kolkata,1693286100,2023-08-29 10:45,27.5,81.5,...,12.6,18.5,1,2,05:59 AM,06:41 PM,05:42 PM,03:38 AM,Waxing Gibbous,93
1,India,Raisen,Madhya Pradesh,23.33,77.80,Asia/Kolkata,1693286100,2023-08-29 10:45,27.5,81.5,...,10.7,14.2,1,1,06:00 AM,06:40 PM,05:39 PM,03:41 AM,Waxing Gibbous,93
2,India,Chhindwara,Madhya Pradesh,22.07,78.93,Asia/Kolkata,1693286100,2023-08-29 10:45,26.3,79.3,...,16.8,20.7,2,2,05:56 AM,06:34 PM,05:32 PM,03:39 AM,Waxing Gibbous,93
3,India,Betul,Madhya Pradesh,21.86,77.93,Asia/Kolkata,1693286100,2023-08-29 10:45,25.6,78.1,...,4.9,6.6,1,1,06:00 AM,06:38 PM,05:36 PM,03:43 AM,Waxing Gibbous,93
4,India,Hoshangabad,Madhya Pradesh,22.75,77.72,Asia/Kolkata,1693286100,2023-08-29 10:45,27.2,81.0,...,11.4,14.8,1,1,06:01 AM,06:39 PM,05:38 PM,03:42 AM,Waxing Gibbous,93

In [3]:
columns_to_drop =['country','timezone','last_updated_epoch','sunrise','sunset','moonrise','moonset','moon_phase','moon_illumination','wind_mph','wind_degree','wind_direction','pressure_mb','precip_in','feels_like_celsius','feels_like_fahrenheit','visibility_miles','uv_index','gust_mph','gust_kph']
weather01 = weather01.drop(columns_to_drop, axis=1)
weather01.head()

,location_name,region,latitude,longitude,last_updated,temperature_celsius,temperature_fahrenheit,condition_text,wind_kph,pressure_in,...,cloud,visibility_km,air_quality_Carbon_Monoxide,air_quality_Ozone,air_quality_Nitrogen_dioxide,air_quality_Sulphur_dioxide,air_quality_PM2.5,air_quality_PM10,air_quality_us-epa-index,air_quality_gb-defra-index
0,Ashoknagar,Madhya Pradesh,24.57,77.72,2023-08-29 10:45,27.5,81.5,Partly cloudy,20.5,29.77,...,26,10.0,243.7,45.8,1.7,3.1,12.6,18.5,1,2
1,Raisen,Madhya Pradesh,23.33,77.80,2023-08-29 10:45,27.5,81.5,Sunny,15.5,29.78,...,19,10.0,240.3,38.3,2.1,2.6,10.7,14.2,1,1
2,Chhindwara,Madhya Pradesh,22.07,78.93,2023-08-29 10:45,26.3,79.3,Partly cloudy,18.4,29.78,...,51,10.0,220.3,57.2,0.6,1.7,16.8,20.7,2,2
3,Betul,Madhya Pradesh,21.86,77.93,2023-08-29 10:45,25.6,78.1,Cloudy,16.9,29.80,...,65,10.0,200.3,25.0,1.2,1.1,4.9,6.6,1,1
4,Hoshangabad,Madhya Pradesh,22.75,77.72,2023-08-29 10:45,27.2,81.0,Cloudy,16.2,29.79,...,82,10.0,257.0,30.8,2.2,1.8,11.4,14.8,1,1

In [4]:
first_row = weather01.iloc[0]
print(first_row)

location_name                         Ashoknagar
region                            Madhya Pradesh
latitude                                   24.57
longitude                                  77.72
last_updated                    2023-08-29 10:45
temperature_celsius                         27.5
temperature_fahrenheit                      81.5
condition_text                     Partly cloudy
wind_kph                                    20.5
pressure_in                                29.77
precip_mm                                    0.0
humidity                                      67
cloud                                         26
visibility_km                               10.0
air_quality_Carbon_Monoxide                243.7
air_quality_Ozone                           45.8
air_quality_Nitrogen_dioxide                 1.7
air_quality_Sulphur_dioxide                  3.1
air_quality_PM2.5                           12.6
air_quality_PM10                            18.5
air_quality_us-epa-index                       1
air_quality_gb-defra-index                     2
Name: 0, dtype: object

In [5]:
#renaming our columns
weather01 = weather01.rename(columns={'location_name':'location','last_updated':'date','condition_text':'cloud_cover'})
weather01.head()

,location,region,latitude,longitude,date,temperature_celsius,temperature_fahrenheit,cloud_cover,wind_kph,pressure_in,...,cloud,visibility_km,air_quality_Carbon_Monoxide,air_quality_Ozone,air_quality_Nitrogen_dioxide,air_quality_Sulphur_dioxide,air_quality_PM2.5,air_quality_PM10,air_quality_us-epa-index,air_quality_gb-defra-index
0,Ashoknagar,Madhya Pradesh,24.57,77.72,2023-08-29 10:45,27.5,81.5,Partly cloudy,20.5,29.77,...,26,10.0,243.7,45.8,1.7,3.1,12.6,18.5,1,2
1,Raisen,Madhya Pradesh,23.33,77.80,2023-08-29 10:45,27.5,81.5,Sunny,15.5,29.78,...,19,10.0,240.3,38.3,2.1,2.6,10.7,14.2,1,1
2,Chhindwara,Madhya Pradesh,22.07,78.93,2023-08-29 10:45,26.3,79.3,Partly cloudy,18.4,29.78,...,51,10.0,220.3,57.2,0.6,1.7,16.8,20.7,2,2
3,Betul,Madhya Pradesh,21.86,77.93,2023-08-29 10:45,25.6,78.1,Cloudy,16.9,29.80,...,65,10.0,200.3,25.0,1.2,1.1,4.9,6.6,1,1
4,Hoshangabad,Madhya Pradesh,22.75,77.72,2023-08-29 10:45,27.2,81.0,Cloudy,16.2,29.79,...,82,10.0,257.0,30.8,2.2,1.8,11.4,14.8,1,1

In [1]:
import pandas as pd
#'weather' is variable for our dataset
weather = pd.read_csv('historic1_weather_data.csv')
weather.head()

,Date,Time,Temperature (C),Humidity,Wind Speed (km/h),Precipitation (mm)
0,13-03-2024,00:00,10.8,60,4.0,0.0
1,13-03-2024,01:00,10.4,62,2.2,0.0
2,13-03-2024,02:00,10.0,63,2.2,0.0
3,13-03-2024,03:00,9.7,63,4.0,0.0
4,13-03-2024,04:00,9.4,64,4.0,0.0

In [2]:
#renaming our columns
weather = weather.rename(columns={'Temperature (C)':'temperature'})
weather = weather.rename(columns={'Precipitation (mm)':'precipitation'})
weather = weather.rename(columns={'Wind Speed (km/h)':'wind_speed'})
weather = weather.rename(columns={'Humidity':'humidity'})
weather.head()

         Date   Time  temperature  humidity  wind_speed  precipitation
0  13-03-2024  00:00         10.8        60         4.0            0.0
1  13-03-2024  01:00         10.4        62         2.2            0.0
2  13-03-2024  02:00         10.0        63         2.2            0.0
3  13-03-2024  03:00          9.7        63         4.0            0.0
4  13-03-2024  04:00          9.4        64         4.0            0.0

In [3]:
# Convert 'date','time' column to datetime format
weather['date'] = pd.to_datetime(weather['Date'], dayfirst=True)
weather['time'] = pd.to_datetime(weather['Time'], format='%H:%M')

In [4]:
#Now we will calculate the mean , varience and standard deviation for further applying
# with columns 'temperature', 'humidity','precipitation' and 'wind_speed'

# Calculate mean, variance, and standard deviation of temperature
temperature_mean = weather['temperature'].mean()
temperature_variance = weather['temperature'].var()
temperature_std = weather['temperature'].std()

# Calculate mean, variance, and standard deviation of humidity
humidity_mean = weather['humidity'].mean()
humidity_variance = weather['humidity'].var()
humidity_std = weather['humidity'].std()

# Calculate mean, variance, and standard deviation of wind speed
wind_speed_mean = weather['wind_speed'].mean()
wind_speed_variance = weather['wind_speed'].var()
wind_speed_std = weather['wind_speed'].std()

# Calculate mean, variance, and standard deviation of temperature
precipitation_mean = weather['precipitation'].mean()
precipitation_variance = weather['precipitation'].var()
precipitation_std = weather['precipitation'].std()

print("Temperature - Mean: {}, Variance: {}, Standard Deviation: {}".format(temperature_mean, temperature_variance, temperature_std))
print("Humidity - Mean: {}, Variance: {}, Standard Deviation: {}".format(humidity_mean, humidity_variance, humidity_std))
print("Wind Speed - Mean: {}, Variance: {}, Standard Deviation: {}".format(wind_speed_mean, wind_speed_variance, wind_speed_std))
print("Precipitation - Mean: {}, variance: {}, Standard Deviation: {}".format(precipitation_mean, precipitation_variance, precipitation_std))

Temperature - Mean: 11.005357142857143, Variance: 18.519192686056456, Standard Deviation: 4.303393159595862
Humidity - Mean: 53.55357142857143, Variance: 194.20070573139435, Standard Deviation: 13.93559133052467
Wind Speed - Mean: 15.41547619047619, Variance: 43.82945965212432, Standard Deviation: 6.620382137922578
Precipitation - Mean: 0.025357142857142856, variance: 0.018445380667236957, Standard Deviation: 0.1358137720087214

In [5]:
#Now we will calculate Temporal aggregation which we will use further 
# Calculate daily average temperature, humidity, and total precipitation
daily_aggregated_data = weather.resample('D', on='date').agg({
    'temperature': 'mean',
    'humidity': 'mean',
    'precipitation': 'sum'
})

print("Daily Aggregated Data:")
print(daily_aggregated_data.head())

Daily Aggregated Data:
            temperature   humidity  precipitation
date
2024-03-13    13.191667  58.208333           0.00
2024-03-14    14.683333  62.083333           0.00
2024-03-15    15.366667  68.208333           4.25
2024-03-16     9.937500  52.333333           0.00
2024-03-17    11.850000  48.625000           0.00

In [6]:
# Now we will perform 'Moving Averages' for short term fluctuation in the dataset
# Calculate 7-day moving average of temperature
weather['temperature_7day_ma'] = weather['temperature'].rolling(window=7).mean()
weather['humidity_7day_ma'] = weather['humidity'].rolling(window=7).mean()
weather['wind_speed_7day_ma'] = weather['wind_speed'].rolling(window=7).mean()
print("Weather Data with Moving Averages:")
print(weather[['date', 'temperature', 'temperature_7day_ma','humidity','humidity_7day_ma','wind_speed','wind_speed_7day_ma']])
#Remember these are new columns in our dataset

Weather Data with Moving Averages:
          date  temperature  temperature_7day_ma  humidity  humidity_7day_ma  \
0   2024-03-13         10.8                  NaN        60               NaN
1   2024-03-13         10.4                  NaN        62               NaN
2   2024-03-13         10.0                  NaN        63               NaN
3   2024-03-13          9.7                  NaN        63               NaN
4   2024-03-13          9.4                  NaN        64               NaN
..         ...          ...                  ...       ...               ...
163 2024-03-19          7.0             7.028571        38         31.142857
164 2024-03-19          6.9             7.114286        41         33.142857
165 2024-03-19          6.7             7.100000        43         35.428571
166 2024-03-19          6.5             7.000000        46         38.000000
167 2024-03-19          6.5             6.871429        47         40.428571

     wind_speed  wind_speed_7day_ma
0           4.0                 NaN
1           2.2                 NaN
2           2.2                 NaN
3           4.0                 NaN
4           4.0                 NaN
..          ...                 ...
163        20.2           24.228571
164        18.0           23.557143
165        18.4           22.585714
166        22.3           22.228571
167        12.6           20.428571

[168 rows x 7 columns]

In [7]:
#There are no such null values in our dataset.And which are showing are 'Moving Averages'
weather.apply(pd.isnull).sum()

Date                   0
Time                   0
temperature            0
humidity               0
wind_speed             0
precipitation          0
date                   0
time                   0
temperature_7day_ma    6
humidity_7day_ma       6
wind_speed_7day_ma     6
dtype: int64